.col-md-12.Aligner(id="form-box")
	.modal-dialog.Aligner-item
		.modal-content
			.panel-heading
				h3.panel-title Cadastrar
			.panel-body
				form(name="form", ng-submit="UsuarioCadastro.cadastro(UsuarioCadastro.user)", novalidate)
					.form-group
						input.form-control(ng-model="UsuarioCadastro.user.email", placeholder="Email", type="email", autofocus="", required="")
					.form-group
						input.form-control(ng-model="UsuarioCadastro.user.senha", placeholder="Senha", type="password", required="")
					button.btn.btn-primary(type="submit", ng-disabled="form.$invalid") Cadastrar